<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">

	<!-- 引入基础注解扫描spring文件 -->
	<import resource="classpath:spring/BaseContext.xml" />
	<!-- fmc基础配置 -->
	<bean id="freeMarkerConfigurer"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/ftl"></property>
		<property name="defaultEncoding" value="utf-8" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">1</prop>
				<prop key="locale">zh_CN</prop>
				<prop key="datetime_format">yyyy-MM-dd</prop><!-- 时间格式化 -->
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="number_format">#.##</prop>
				<prop key="classic_compatible">true</prop>
				<prop key="auto_import">directiveTemplate/baseDirective.ftl as xy</prop>
				<prop key="object_wrapper">freemarker.ext.beans.BeansWrapper</prop>
				
			</props>
		</property>
		<!-- 声明指令变量 -->
		 <property name="freemarkerVariables">
			<map>
				<entry key="xml_escape" value-ref="zzxy" />
			</map>
		</property>
	</bean>
	<!-- 配置基础指令bean -->
	 <bean id="zzxy" class="config.cfg_freemarker.BaseDirective" /> 
	 <bean id="PagePlugin" class="pub.util.PagePlugin" />
	 <bean id="PageParams" class="pub.po.vo.PageParams" />
	 <!-- 配置视图解析器 -->
	<bean id="freeMarkerViewResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="cache" value="true" />
		<property name="prefix" value="" /><!-- 上面已经配了，这里就不用配啦 -->
		<property name="suffix" value=".ftl" />
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="allowSessionOverride" value="true" />
		<property name="allowRequestOverride" value="true" />
		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true" />
		<property name="requestContextAttribute" value="request" />
	</bean>
	<bean id="prop" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
	   <!-- 这里是PropertiesFactoryBean类，它也有个locations属性，也是接收一个数组，跟上面一样 -->
	   <property name="locations">
	       <array>
	          <value>classpath:global.properties</value>
	       </array>
	   </property>
	</bean>
</beans>